.about-me {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

.about-me__img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.about-me__info {
    padding-left: 20px;
}

.about-me__info h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.about-me__info h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.about-me__info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}